.navbar {
  background-color: #E9E8E4;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
}

.navbar-logo {
  height: 50px;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin: 0 80px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: color 0.3s;
}

/* Highlight current page link */
.navbar-links a.active {
  color: #39803A; /* Yellow color */
  font-weight: 600;
  font-size: large;
}

/* Optional hover effect */
.navbar-links a:hover {
  color: #39803A;
}
