.slide-notification {
    position: fixed;
    top: 80px; /* placed below navbar */
    right: 20px;
    width: 280px;
    background-color: #E9E8E4;
    color: #fff;
    border-radius: 12px;
    padding: 12px 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    z-index: 999;
    animation: slideIn 0.4s ease-out;
    font-family: inherit;
    font-size: 14px;
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  
  .slide-notification p {
    margin: 0;
    font-weight: 500;
  }
  
  .slide-notification p {
    color: #4A8B2C;
    font-family: poppins;
  }
  
  .slide-notification.fade-out {
    opacity: 0;
  }
  
  .progress-bar {
    height: 4px;
    background-color: #4A8B2C;
    border-radius: 0 0 12px 12px;
    margin-top: 10px;
    transition: width 0.1s linear;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(120%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  