.slideshow-wrapper {
    width: 50%;                     /* Take up 50% of the container */
    height: auto;                   /* Adjust height automatically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    width: 100%;                   /* Slideshow container takes up full width of wrapper */
    aspect-ratio: 16 / 9;          /* Maintain aspect ratio */
    overflow: hidden;
    border-radius: 12px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    position: relative;
}

.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow-caption {
    position: absolute;
    top: 50%; /* Vertically center the caption */
    left: 50%;  /* Horizontally center the caption */
    transform: translate(-50%, -50%); /* Correctly center the caption */
    color: white;
    font-size: 4em; /* Adjust as needed */
    font-family: 'Poppins';
    font-weight: regular;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    z-index: 10;
    text-align: center; /* Center text within the caption box */
    width: 80%;       /* Adjust width as needed to prevent text overflow */
}

.caption-text {
    display: inline-block; /* Allows text to wrap if needed */
    line-height: 1.2;   /* Adjust line height as needed */
}

@media (max-width: 1024px){
    .slideshow-wrapper {
        width: 50%;                     /* Take up 50% of the container */
        height: auto;                   /* Adjust height automatically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .slideshow-wrapper {
        width: 100%;                     /* Take up 100% of the container */
        height: auto;                   /* Adjust height automatically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slideshow-caption {
        font-size: 2em; /* Adjust as needed for smaller screens */
    }
}
 @media (max-width: 480px) {
    .slideshow-caption {
        font-size: 1.5em; /* Adjust as needed for smaller screens */
    }
    .slideshow-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media (max-width: 320px) {
    .slideshow-caption {
        font-size: 1.2em; /* Adjust as needed for smaller screens */
    }
    .slideshow-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}