.research-container {
  padding-left: 10%;
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  background-color: #E9E8E4;
}

.img-text-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-bottom: 10%;
  margin: 0px;
  
}

.text-container {
  width: 80%; /* Ensures text container doesn't overflow */
}

.text-container p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-family: 'Poppins';
}

.image-container img {
  max-width: 90%;
  height: auto;
  border-radius: 5px;
}

span {
  font-weight: 500;
  color: #23160E;
  
}
