body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* overflow-x: hidden; */
    overflow: hidden;
    overscroll-behavior: none;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Ensure body and html can still scroll */
html, body {
  overflow-y: auto; /* Allow vertical scrolling */
  
}
